<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title><%= titleBar %> | bookley</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <!-- Image and text -->
          <nav class="navbar navbar-expand-lg navbar-light bg-purple">
              <a class="navbar-brand text-white" href="/">
              <img src="/img/bookley.png" width="30" height="30" class="d-inline-block align-top" alt="">
                  bookley
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse ms-auto" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item ">
                    <a class="nav-link text-white" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="/addbook">Add</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white"href="/showbook">Show</a>
                  </li>
                </ul>
              </div>
            
          </nav>

          
    </header>
