<%- include('../partials/header.partial.ejs') %>
    <main class="containter">
         <div class="bg-purple p-5 text-center">
            <h1 class="fs-6 my-5">Hello, world!</h1>
            <p class="">This is bookley, place to search and save your book data information who you like and needed nothing problem</p>
            <hr class="my-4">
            <form class="input-group mb-3 my-5">
                <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn bg-purple text-white" type="button" id="button-addon2">Button</button>
                </div>
            </form>
          </div>

          <div>
             <h1 class="text-purple text-center my-5"># Your Save Book</h1>
          </div>
    </main>

<%- include('../partials/footer.partial.ejs') %>